<nav class="navbar">
   <h1 class="studybuddy">StudyBuddy</h1>
  <div class="logout">
    <form id="logout" action="\logout" method="POST">
      <input type="submit" value="logout">
    </form>
  </div> 
</nav>
<!--  -->
