<nav class="navbar">
   <h1>FlashCards</h1>
  <h2>Login</h2>
  <div class="login">
    <form id="login" action="\login" method="POST">
      <label>Username<input type="text" id="name" name="user[email]"></label>
      <label>Password<input type="password" id="password" name="user[password]"></label>
      <input type="submit" value="submit">
    </form>
  </div> 
</nav>
<!--  -->
