<div class="container">
  <!--  THIS VIEW IS JUST A PLACEHOLDER...
        IT WORKS BUT IS NOT COMPLETE      -->
        <h1><%=@correctness%></h1>
  <h3>You answered :<%= params[:guess] %></h3>
  <a href='/card'>Next Question </a>
</div>
