<div class="container" id="feedback">
        <h1><%=@correctness%></h1>
  <h3>You answered: <%= params[:guess] %></h3>
<<<<<<< HEAD
  <h3>The correct answer is: <%= @answer %>

  <p><a href='/card'>Next Question</a></p>
=======
  <a href='/card'>Next Question </a>
>>>>>>> css'ing it
</div>
