<div class="container" id="card">
  <h1><%= @card.question%></h1> 
  <br>
  <p id="hidden">/cardloop/<%=@card.id%></p>
  <form id="answer" action="/cardloop/<%=@card.id%>" method="post">
     <label>Answer<input type="text" id="guess" name="guess"></label>
     <br>
     <input id="submit-answer" type="submit" value="answer">
  </form>
  <br>
</div>  
